

.layout-geral-consulta{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.layout-geral-consulta button:hover{
    background-color: rgba(58, 136, 226, 0.938);
    border: none;
}