*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout-grid{
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
  flex-wrap: wrap;
  grid-template-areas: 'H' 'M' 'F';
  height: 100vh;
  width: 100%;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
}

main{
  background-color: #e1e1e1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

footer{
  display: flex;
  align-items:center;
  justify-content: center;
}